# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Project specific
data/raw/
data/processed/
models/
cache/
metrics/
monitoring_metrics/
logs/

# AWS
.aws/
*.pem

# Docker
.docker/

# Kubernetes
.kube/

# Environment variables
.env
.env.*

# System Files
.DS_Store
Thumbs.db
